.button-all-calendar{
    padding: 5px 10px;
    border-radius: 9px;
    font-size: 18px;
    background-color: rgb(74, 182, 146);
    color: azure;
    font-family: sans-serif;
    font-weight: 700;
    margin: 5px;
    border: none;
    cursor: pointer;
    width: auto;
}

.arrmonths2023 {
  border: 1px solid #ccc;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: space-between;
  margin: 10px;
  padding: 7px;
  background-color: #f1f4f5;
}

.div-days{
  width: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  align-items: center;
  margin: 10px;
  padding: 7px;
}

.div-days-div{
  border: 1px solid #ccc;
  width: 100px;
  height: 100px;
  margin: 1px;
  padding: 7px 5px;
  background-color: #ffffff;
}