* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.div-0-form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row wrap;
  top: 0;
}

.form-cadastro {
  background: azure;
  height: 450px;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  margin-top: 40px;
  border-radius: 13px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form-cadastro input {
  border-radius: 9px;
  padding: 13px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  margin: 5px;
  border: 1px solid rgb(74, 182, 146);
  background-color: rgb(248, 230, 207);
}

.form-cadastro input:focus {
  border-radius: 9px;
  padding: 13px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  margin: 5px;
  outline: none;
  border: 1px solid rgb(55, 138, 110);
  background-color: rgb(248, 230, 207);
}

.form-div-text-cadastro {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: column;
  font-size: 18px;
  margin-bottom: 30px;
}

font-size.form-div-button {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: column;
}

.form-cadastro button {
  padding: 10px;
  border-radius: 9px;
  font-size: 18px;
  background-color: rgb(74, 182, 146);
  color: azure;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  margin: 5px;
  border: none;
  cursor: pointer;
  width: 15em;
}

.form-cadastro button:hover {
  padding: 10px;
  border-radius: 9px;
  font-size: 18px;
  background-color: rgb(49, 128, 100);
  color: azure;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  margin: 5px;
  border: none;
  cursor: pointer;
  width: 15em;
}

.form-div-button {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: column;
}