* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

nav {
  background: azure;
  max-height: 160px;
  min-height: 60px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row wrap;
  z-index: 100;
  position: sticky;
  top: 0;
  font-weight: 500;
}

.time h1{
  font-size: 24px;
  color: #578aa1;
  font-family: 'Roboto', sans-serif;
  display: 'flex';
  flex-flow: row wrap;
  justify-content: 'center';
  align-items: 'center';
  font-weight: 800;
}

.nav-section-1{
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-section-2{
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-section-2-form{
  padding: 10px;
  width: auto;
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-flow: row wrap;
}

.nav-section-2-form input {
  padding: 10px;
  border-radius: 7px;
  font-size: 14px;
  border: none;
  border: 1px solid rgb(74, 182, 146);
}

.nav-section-2-form input:focus {
  padding: 10px;
  border-radius: 7px;
  font-size: 14px;
  border: none;
  outline: none;
  border: 1px solid rgb(74, 182, 146);
}

.nav-section-2-form button {
  background-color: rgb(74, 182, 146);
  color: azure;
  border: none;
  padding: 10px;
  border-radius: 7px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

.nav-section-2-form button:hover {
  background-color: rgb(49, 128, 100);
  color: azure;
  border: none;
  padding: 10px;
  border-radius: 7px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}