.panel-simple-div-form-button-img {
  width: 18px;
  height: 18px;
  margin: 0 5px;
}

.panel-simple-div-form-button-edit,
.panel-simple-div-form-button-delete,
.panel-simple-div-form-button-concluido,
.panel-simple-div-form-button-pendente
{
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}