.list-0 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.lists-div-0 {
  background-color: #e7e9ee80;
  border-radius: 9px;
  box-shadow: 0 0 4px #9c9898;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  margin: 5px;
  width: 90%;
}

.update-at {
  font: 9px;
  font-weight: 600;
  color: #3a3636;
  display: flex;
  align-items: center;
}

@keyframes lists-div-1-a {
  0% {
    width: 0%;
    height: 0%;
  }
  100% {
    width: 60%;
    height: auto;
  }
}

.lists-div-1 {
  width: 70%;
  height: auto;
  padding: 5px 10px;
  margin: 5px;
  overflow: auto;
  border-radius: 9px;
  background-color: #d5f8ec;
  box-shadow: 0 0 3px #3a3636;
  animation-name: lists-div-1-a;
  animation-duration: 0.2s;
}

.lists-div-1:hover {
  background-color: #b0ddcd;
  box-shadow: 0 0 3px #413838;
}

.lists-div-1-div, .lists-div-2-div {
  padding: 5px 15px;
}

.lists-div-1-div-div {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 7px;
  padding: 2px 5px;
}


.lists-div-1-div-div-div-date {
  height: 21px;
  background-color: #ffffff;
  width: auto;
  border-radius: 7px;
  padding: 3px 13px;
  display: flex;
  align-items: center;
}

.lists-div-1-div-div-div-panel {
  height: 21px;
  background-color: #ffffff;
  width: auto;
  border-radius: 7px;
  padding: 3px 13px;
  display: flex;
  align-items: center;
}

.lists-div-2 {
  display: flex;
  align-items: center;
}

.lists-div-2-div-2 {
  padding: 5px;
  font: 26px;
  font-weight: 600;
}

.msg-no-task {
  padding: 20px;
  font: 26px;
  font-weight: 600;
  color: #3a3636;
}

.data-task {
  padding: 5px 10px;
  border-radius: 33px;
  background-color: #f1efef;
  outline: 1px solid rgb(70, 78, 77);
  outline-offset: -5px;
  box-shadow: 0 0 3px #3a3636;
  font: 26px;
  font-weight: 600;
  color: #3a3636;
  margin-bottom: 30px;
}

.paginations{
  margin-bottom: 30px;
}

@media (max-width: 770px) {
  .lists-div-0 {
    padding: 15px 5px;
    margin: 7px;
    width: 100%;
  }

  .lists-div-1 {
    width: 90%;
  }

  .lists-div-1-div-div-div-panel {
    height: 21px;
    background-color: #ffffff;
    width: 100%;
    border-radius: 7px;
    padding: 3px 13px;
    display: flex;
    align-items: center;
    margin: 3px 0;
  }
}